@font-face {
  font-family: 'Questrial';
  src: url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
}

html {
  --primaryColor: black;
  --lightColor: white;
  --fontColor: grey;
  --fontfamily: 'Alata', sans-serif;
  --extrasmall-gutter: 0.6rem;
  --small-gutter: 1rem; 
  --medium-gutter: 1.8rem;
  --large-gutter: 3.6rem; 
  --fontsize-extrasmall: 0.7rem;
  --fontsize-small: 0.9rem;
  --fontsize-medium: 1.8rem;
}

body {
  font-family: var(--fontfamily);
}

.nav {
  background: var(--lightColor);
  display : flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--small-gutter);
}

.nav-link {
  display: flex;
}

.nav-item {
  margin-right: var(--small-gutter); 
  margin-left: var(--small-gutter);
}

.nav-item-link {
  font-size: var(--fontsize-small);
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--large-gutter);
}

.home-container {
  width: 80vw;
  margin: 0 auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-title {
  font-size: var(--fontsize-medium);
  margin-bottom: var(--small-gutter);
}

.home-description {
  font-size: var(--fontsize-small);
  width: 28vw;
  line-height: var(--medium-gutter);
}

.card {
  margin: var(--small-gutter);
}

.card-main > * {
  margin-bottom: var(--extrasmall-gutter);
}

.card-img {
  width: 20vw;
  min-width: 180px;
  margin-bottom: var(--extrasmall-gutter);
}

.card-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-title {
  margin-right: var(--extrasmall-gutter);
  font-size: var(--fontsize-small);
}

.card-price {
  font-size: var(--fontsize-extrasmall);
  color: var(--fontColor);
}

/***** articles *****/

.container-article {
  display: flex;
  justify-content: center;
  margin-top: var(--large-gutter);
}

.article-img {
  width: 30vw; 
  height: 30vw;
}

.article-body {
  height: 30vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin: var(--medium-gutter);
}

.article-body > * {
  margin-bottom: var(--medium-gutter);
}

.article-body-main {
  display:flex;
  flex-direction: row;
}


.article-body-main-favorite {
  display: block;
  width: 3vw;
  margin-left: var(--small-gutter);
}

.article-body-price {
  font-size: var(--fontsize-small);
  color: var(--fontColor);
}


/***** footer *****/

.footer {
  display: flex;
  justify-content: center;
  font-size: var(--fontsize-small);
  padding: var(--small-gutter);
}



/*** old***/

.navbar {
  background-color: var(--lightColor);
}

.navbar a {
  color :var(--primaryColor);
}

.navbar .nav-item.active {
  font-weight: bold;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 253, 216)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: var(--primaryColor);
}

.link-add-bookmarks {
  font-size: 0.8em;
  background-color: var(--primaryColor);
  color: var(--lightColor);
  border-radius: 5px;
  padding: 5px;
  float: right;
}

.btn-outline-ofig {
  color: var(--lightColor);
  border-color: var(--lightColor);
}

.btn-outline-ofig:hover {
  color: var(--lightColor);
  background-color: var(--primaryColor);
  border-color: var(--lightColor);
}

.container-main {
  min-height: calc(100vh - 185px);
}

.banner {
  width: 100vw;
}

.badge-category {
  position: absolute;
  top: 15px;
  left: 15px;
}

.badge-gentil {
  background-color: green;
  color: var(--lightColor);;
}

.badge-mechant {
  background-color: red;
  color: var(--lightColor);white;
}

.badge-animal {
  background-color: blue;
  color: var(--lightColor);;
}

.img-cart-list {
  max-width: 100px;
}

table.table tbody tr td {
  vertical-align: middle;
}

.item-description {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.cart-input {
  max-width: 100px;
}

.item-subtotal {
  font-weight: bold;
}

.row-total {
  font-size: 1.3em;
  font-weight: bolder;
}


.review-author {
  font-size: 0.8em;
  font-style: italic;
  margin-left: 15px;
}

.card-footer {
  background-color: var(--lightColor);
}

.link-add-bookmarks {
  float:left;
}

/* Modal breakpoint is awful in bootstrap */
@media (min-width: 576px) {
  .modal-dialog {
    width: 80%;
    max-width: unset;
  }
}