<!-- Footer -->
<footer class="py-3 bg-white">
    <div class="container">
      <p class="m-0 text-center text-black">Tous les droits sont réservés © 2022, Bonanza Paris.</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.15/bootstrap-native-v4.min.js"></script>

</body>

</html>